body {
	margin:auto;
	width:100%;
}

#main {
	width:100%;
	margin: auto;
	overflow: auto;
	padding-top: 30px;
}

#main #forms {
	float: left;
	width: 12%;
	margin-right: 10px;
}

#main #drawing {
	float: right;
	width: 80%;
	margin-left: 10px;
	margin-right:50px;
}
