body {
	margin:auto;
	width:100%;
	background-color: #34495e;
	font-family: 'Roboto', sans-serif;
}

#connexion_bloc {
	width:45%;
	margin:auto;
	margin-top:10%;
	border:2px solid #444;
	padding:50px;
	border-radius:10px;
	box-shadow: 10px 10px 0px 2px #222;
	background-color:#ecf0f1;
}

#connexion_form {
	text-align: center;
}

h3 {
	margin:0;
}

hr {
	margin:auto;
	margin-top:20px;
	width:60%;
	height:1px;
	background-color: #222;
	border: 0;
	text-align:center;
}

.errorMsg {
	margin-bottom:0;
	color: #C0392B;
}

.successBorder {
	border:1px solid #26A65B;
}

.errorBorder {
	border:1px solid #C0392B;
}